/node_modules
/public/hot
/public/uploaded
/public/traffic
/storage/debugbar
/storage/*.key
.vscode
package-lock.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/data/*
